.productCard {
    width: 270px;
    margin: 8px 8px;
    cursor: pointer;

    .ctnImg {

        img {
            width: 270px;
            height: 220px;
        }
    }

    .productInfo {

        .ctnText {
            padding-top: 10px;
            display: flex;
            justify-content: space-between;
            .title {
                font-size: 16px;
                font-weight: 600;
            }
    
            .price {
                font-size: 16px;
                font-weight: 600;
            }
        }

        .description {
            color: grey;
            font-size: 14px;
            margin-top: -15px;
        }
    }

    .btnBuy {
        align-items: center;
        border: 2px solid #a82d9c;;
        border-radius: 100px;
        cursor: pointer;
        color: #a82d9c;
        display: inline-flex;
        font-size: 18px;
        font-weight: 550;
        justify-content: center;
        line-height: 1;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        transition: .5s;
        -webkit-user-select: none;
        user-select: none;
        vertical-align: middle;
        white-space: nowrap;

        &:hover {
            background-color: #a82d9c;
            color: #fff;
        }
    }
}