.productListing {
    margin-top: 20px;
    margin-bottom: 20px;
    h2 {
        padding-left: 20px;
    }

    .seeMore {
        font-size: 14px;
        font-weight: 400;
        padding-left: 10px;
    }

    .resultsCtn {
        height: 390px;
        width:100%;
        display: flex;

        .productListingItem {
            white-space: nowrap;
            padding: 10px;
            box-sizing: border-box;
        }
    }
}