.ctnSearchForm {
    width: 100%;
    padding: 8px;

    .searchForm {
        padding: 10px 15px;
        width: 100%;
        font-size: 1rem;
        line-height: 1.5em;
        color: #373D41;
        background-color: #FFF;
        background-clip: padding-box;
        border: 1px solid #C5C5C7;
        border-radius: 6px;
        -webkit-box-shadow: none;
        box-shadow: none;
        flex-grow: 1;
        outline: none;

        :focus {
            box-shadow: none;
            border-color: inherit;
        }
    }
}